.gradle/
build/
eclipse/
gradle/
.idea/
CREDITS-fml.txt
LICENSE-fml.txt
MinecraftForge-Credits.txt
MinecraftForge-License.txt
README.txt
forge-*-changelog.txt
gradlew
gradlew.bat
craftscanner.iml
*.iml
*.ipr
*.iws
